{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_create'), 'attr': {'class': 'w-100'}}) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success float-right">Ajouter</button>
        {{ form_end(form) }}
    </div>
    <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>

{% endblock %}
